<header>
    <mat-toolbar color="primary">
      <nav>
        <a routerLinkActive="active-link" routerLink="/WorkExperience">Work Experience</a>
        <a routerLinkActive="active-link" routerLink="/MovieList">Movie List</a>
        <a routerLinkActive="active-link" routerLink="/DateFormat">Date Format</a>
        <a routerLinkActive="active-link" routerLink="/Calendar">Calendar</a>
        <a routerLinkActive="active-link" routerLink="Search">Search</a>
      </nav>
    </mat-toolbar>
  </header>