.container {
    padding: 16px;
    
    .input-field {
        width: 100%;
        margin-bottom: 16px;
    }
    
    .formatted-value {
        margin-bottom: 16px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    button{
        margin-bottom: 10px;
    }
}